@charset "UTF-8";
body{
	background: linear-gradient(90deg, #c41442, #ce3251, #d74760, #e05a70, #e86c7f, #f07d8f, #f88d9e, #ff9eae);
}
.box{
	width:500px;
	height:500px;
	margin-top:300px;
	padding:300px;
	border-radius: 45% 55% 24% 76% / 24% 48% 52% 76%;
	background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h2{
	color: white;
	font-size:20px;
}